<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="Examples.ArticlesSection, Examples" name="articleListing"/>
    <section type="Examples.DatabasesSection,Examples" name="Databases"/>
  </configSections>

  <articleListing name="Mysteries Series">
    <article name="Unraveling" desc="Unraveling the Mysteries of .NET 2.0 Configuration" state="Completed" sequence="1"/>
    <article name="Decoding" desc="Decoding the Mysteries of .NET 2.0 Configuration" state="Completed" sequence="2"/>
    <article name="Cracking" desc="Cracking the Mysteries of .NET 2.0 Configuration" state="InProgress" sequence="3"/>
    <article name="Deciphering" desc="Deciphering the Mysteries of .NET 2.0 Configuration" state="Pending" sequence="4"/>
  </articleListing>

  <Databases name="dataconn">
    <database name="mysql" fileNumber="1" connString="myconnstring"/>
    <database name="mssql" fileNumber="2" connString="msconnstring"/>
    <database name="oracle" fileNumber="4" connString="orconnstring"/>
  </Databases>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
